<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="/css/index.css">
            <meta charset="UTF-8">

                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                    <title>Biblioteca: Carga Editorial</title>
                    </head>
                    <body>
                                             
                        
                        <div class="container">
                            
                            
                            <form class="formulario" action="/editorial/registro" method="POST">
                                
                                 <h4> Carga la editorial aquí! </h4>
                                
                                <div> 
                                    <input type="text" name="nombre" placeholder="Nombre de la Editorial">
                                </div>
                                <br>
                                    <button type="submit" >Subir</button>
                            </form>
                        </div>
                    </body>
                    </html>