<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
          <link rel="stylesheet" href="/css/index.css">
        <title>LISTA LIBROS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    </head>
    <body>
        <div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Ejemplares</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                    </tr>
                </thead>
                <tbody th:each="libro : ${libros}">
                    <tr>
                        <th scope="row" th:text="${libro.isbn}"></th>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.ejemplares}"></td>
                        <td th:text="${libro.autor.nombre}"></td>
                        <td th:text="${libro.editorial.nombre}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>